body {
    background-color: lightgray;
    margin: 0;
}

#top {
    text-align: center;
    margin: 16px;
}

#navigation {
    padding: 8px;
}

#navigation a:hover{
    color: white;
    background-color: grey;
}

#image img {
    width: 100%;
}

#footer {
    text-align: center;
    color: grey;
    padding: 16px;
}

#main {
    margin: auto;
    max-width: 900px;
    padding: 8px;
}